:root {
  --accent-one: #7AAD3C;
  --accent-two: #366F75;
  --accent-three: #E49DA7;
  --accent-four: #F3F2D4;
}

body {
  margin: 0;
  background-color: black;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  margin: 0px;
}

footer{
  margin-top: auto;
  margin-bottom: 25px;
}